body {
    padding: 0;
    margin: 0;
    background: #606E61;
}

h3 {
  font-size: 45px;
}

@font-face {
  font-family: "Newake";
  src: url("/fonts/newake.otf") format("otf");
}

/* Header */
.navbar {
    position: fixed;
    width: 95%;
    margin:auto;
    left: 0;
    right: 0;
}

.nav-item {
  font-size: 30px;
  font-weight: bold;
}

.dropdown-toggle::after {
  content: none;
}

#drop-port{
  border: none;
  background: none;
  font-size: 30px;
  color: #606E61;
  font-weight: bold;
}

#drop-port:focus {
  outline: none;
  box-shadow: none;
}

#drop-menu a {
  font-weight: bolder;
  color: #606E61;
  font-size: 30px;
}

.nav-link,
.navbar-brand {
    color: #606E61;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.intro-section {
  background-image: url("../img/background.jpg");
  height:90vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 30vh;
}

.passionate {
  text-align: center;
  font-family: "Newake";
  font-size: 70px;
  /* color: #606E61; */
  color: white;
}

/* About Section */

.about-section {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  width: 90%;
  margin: auto;
}

.about-photo {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: auto;
  left: 0;
  right: 0;
}

.about-photo img {
  width: 100%;
  border-radius: 50%;
}

.about-text {
  width: 50%;
  font-size: 30px;
  color: #fefefe;
  margin: auto;
}

.about-text h3 {
  font-size: 45px;
  padding-bottom: 20px;
}

.socials-icons img {
  width: 70px;
}

.socials-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 15%;
  margin: auto;
}

.socials-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.socials-resume {
  display: flex;
  justify-content: center;
}

.resume-btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 35px;
  background: none;
  border: 3px solid white;
  color: #fefefe;
  font-size: 35px;
}

.resume-btn:hover {
  color: #606E61;
  background: white;
}
/* About Section Ends */
/* Skills Section Begins */
.skills-section {
  padding-top: 100px;
  padding-bottom: 100px;
  color:  #606E61;
  background-color: white;
  margin: auto;
}

.skills-section-row {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.skills-section h3 {
  text-align: center;
  padding-bottom: 60px;
}

.skills-section p {
  font-size: 30px;
}

.skills-web,
.skills-graphic,
.skills-photo {
  width: 30%;
}

.contact-section h3 {
  text-align: center;
}
